<footer>
   <p id="footerLabel">Developed by Daniil Bоgdanov 2017-<span id="currentYear"></span></p>
   <span id="githubButtons">
      <a class="github-button" href="https://github.com/exsandebest/danchat" data-icon="octicon-star" data-show-count="true" aria-label="Star exsandebest/danchat on GitHub">Star</a>
      <a class="github-button" href="https://github.com/exsandebest/danchat/issues" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issue exsandebest/danchat on GitHub">Issue</a>
   </span>
   <script async defer src="https://buttons.github.io/buttons.js"></script>
   <script type="text/javascript">
      document.getElementById("currentYear").innerText = (new Date()).getFullYear();
   </script>
</footer>
