<footer>
   <div>
      <p>Developed by Daniil Bоgdanov 2017-<span id="currentYear"></span></p>
   </div>
   <script type="text/javascript">
      document.getElementById("currentYear").innerText = (new Date()).getFullYear();
   </script>
</footer>
