<nav style="top: 0px;">
   <ul>
      <li><a class="navbar" href="/">Чат <asd id="counter" style="width: 20px; height: 20px; font-size: 15px; border-radius: 10px; background-color: rgba(230,103,0,1); color: #ffe86f; border: solid 0px orange;"></asd></a></li>
      <!--<li><a class="navbar" href="/friends">Друзья</a></li>-->
      <li><a class="navbar" href="/people">Люди</a></li>
      <li style="float:right;" class="active"><a class="navbar" style="cursor:pointer" id="prof">{{login}}</a>
         <ul>
            <li><a class="navbar" name="var" href="/profile"> Профиль</a></li>
            <li><a class="navbar" name="var" href="/settings"> Настройки</a></li>
            <li><a class="navbar" name="var" href="/logout"> Выйти</a></li>
         </ul>
      </li>
   </ul>
</nav>
<script src="/socket.io/socket.io.js"></script>
<script src="standart.js"></script>
