<nav>
    <ul>
        <li><a href="/">Чат <span id="counter"></span></a></li>
        <li><a href="/friends">Друзья</a></li>
        <li><a href="/people">Люди</a></li>
        <li class="active"><a id="prof"><%= login %></a>
            <ul>
                <li><a href="/profile"> Профиль</a></li>
                <li><a href="/logout"> Выйти</a></li>
            </ul>
        </li>
    </ul>
</nav>
