
<meta charset="utf-8">
<html>

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>
      NOT FOUND
   </title>
</head>

<body background="bg.jpg">
   {{> navbar}}
   <center>
      <h1>{{message}}</h1>
   </center>
   {{> footer}}
</body>

</html>
