
<meta charset="utf-8">
<html>

<head>
   <link rel="stylesheet" type="text/css" href="/style.css">
   <title>
      NOT FOUND
   </title>
</head>

<body background="/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <center>
      <h1><%=message%></h1>
   </center>
   <%- include('partials/footer.ejs') %>
</body>

</html>
