<html>

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <style>
      center div {
         border: 5px outset blue;
         display: inline-flex;
         flex-wrap: wrap;
         margin-left: 10%;
         justify-content: space-around;
         margin-right: 10%
      }
   </style>
   <title>ADMIN PANEL</title>
</head>

<body background="bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <div>
         <input type="text" class="inputSmall" id="inputLogin" placeholder="Сообщение">
         <br><br>
         <input type="button" style="width:150px" onclick="makeAdmin()" value="Сделать админом"> <input type="button" style="width:150px" onclick="makeUser()" value="Сделать user'ом">
      </div>
      <br><br>
      <div style="margin-bottom: 80px; ">
         <input type="text" class="inputSmall" id="message" placeholder="Сообщение">
         <input type="button" style="width:120px" onclick="sendMessage()" value="Отправить всем  + ">
      </div>
   </center>
   <script src="pages/adminpanel.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
