<html>

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>ADMIN PANEL</title>
</head>

<body background="bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <div>
         <input type="text" class="inputSmall" id="inputLogin" placeholder="Сообщение">
         <br><br>
         <btn class="standart" onclick="makeAdmin()">Сделать админом</btn><btn class="standart" onclick="makeUser()">Сделать user'ом</btn>
      </div>
      <br><br>
      <div style="margin-bottom: 80px;">
         <input type="text" class="inputSmall" id="message" placeholder="Сообщение"><br><br>
         <btn class="standart" onclick="sendMessage()">Отправить всем</btn>
      </div>
   </center>
   <script src="pages/adminpanel.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
