<html>

<head>
   <%- include('partials/header.ejs') %>
   <title id="t">
      Чат
   </title>
</head>

<body background="/images/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <center>
      <div id="chat"></div><br>
      <div style="width:779px; display:inline-block">
         <textarea placeholder="Напишите сообщение..." maxlength="1000" onkeypress="if(event.keyCode == 13) {sendMessage(); event.preventDefault();}" id="message"></textarea>
         <span id = "symbolsCounter">1000/1000</span>
         <br><br>
         <br>
         <btn class="standart" onclick="sendMessage()">Отправить</btn>
      </div>
      <br><br><br>
   </center>
   <script src="/socket.io/socket.io.js"></script>
   <script src="/js/vanillatoasts.js"></script>
   <script src="/js/functions.js"></script>
   <script src="/js/pages/chat.js"></script>
   <script src="/js/notifications.js"></script>
   <span class="green" id="onlineCounterCover">Онлайн: <span class="red" id="onlineCounter"><%=onlineCounter%></span></span>
   <%- include('partials/footer.ejs') %>
</body>

</html>
