<html>
<meta charset="utf-8">

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <title id="t">
      Чат
   </title>
</head>

<body background="bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <center>
      <div onclick="getMsg();" id="btnGetMsg">
      </div>
      <div id="chat"></div><br>
      <div style="width:779px; display:inline-block">
         <textarea placeholder="Напишите сообщение..." onkeypress="if(event.keyCode == 13) {sendMessage(); event.preventDefault();}" id="message"></textarea>
         <br><br>
         <br>
         <btn class="standart" onclick="sendMessage()">Отправить</btn>
      </div>
      <br><br><br>
   </center>
   <script src="/socket.io/socket.io.js"></script>
   <script src="pages/chat.js"></script>
   <span class="green" id="onlineCounterCover">Онлайн: <span class="red" id="onlineCounter"><%=onlineCounter%></span></span>
   <%- include('partials/footer.ejs') %>
</body>

</html>
