<html>

<head>
   <meta charset="utf-8">

   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
   <title>Вход</title>
</head>

<body background="bg.jpg">
   <h1 class = "mainLabel">Вход</h1>
   <style>
   </style>
   <link rel="stylesheet" type="text/css" href="style.css">
   <center>
      <input class='inputBig' type="text" required name="login" autofocus id="login" title="Логин" placeholder="Введите логин"><br><br>
      <input class='inputBig' type="password" required name="password" id="password" title="Пароль" onkeypress="if(event.keyCode == 13) enter()" placeholder="Введите пароль"><br><br>
      <div class = "notification" id="notification"> 
      </div><br>
      <btn class="standart" type="button" onclick="enter()">Войти</btn><br><br>
      <span class="purple">или</span><br><br>
      <a href="/registration" style="text-decoration: none;">
         <btn class="standart" type="button">Зарегистрироваться</btn>
      </a>
   </center>
   <script src="pages/enter.js">

   </script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
