<html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Мои друзья</title>
  <style>
    img {
      float:left;
      margin:10px;
      border-radius: 120px;
      width:130px;
      height:130px;
    }
    div#block {
      height:150px;
      width:400px;
      background:rgba(254, 254, 254, 0.6);
        border-radius: 20px;
    }
    div#datablock {
      height: 100px;
      width: 250px;
      float: right;
    }


    p#fullname {
      font: normal 17px 'Arial';
      cursor: default;
    }

    a#login {
      font: bold 20px 'Trebuchet MS';
      cursor: pointer;
      width: auto;
      text-decoration: none;
    }
      .nav-btn {
          cursor: pointer;
          text-decoration: none;
          outline: none;
          display: inline-block;
          width: 140px;
          height: 45px;
          line-height: 45px;
          border-radius: 45px;
          margin: 10px 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 11px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 3px;
          font-weight: 600;
          color: #524f4e;
          background: white;
          box-shadow: 0 8px 15px rgba(0,0,0,.1);
          transition: .3s;

      }
      .nav-btn:hover {
          background: #2EE59D;
          box-shadow: 0 15px 20px rgba(46,229,157,.4);
          color: white;
          transform: translateY(-7px);
      }
  </style>
</head>
<body background="bg.jpg" >
  {{> navbar}}
  <center>
      <div style="margin-bottom: 20px">
          <a class="nav-btn" style="width:auto; padding-left: 5px; padding-right: 5px;" href="/incoming">Входящие заявки  <asd id="inreqsCounter" style="width: 20px; height: 20px; font-size: 15px; border-radius: 15px; background-color: rgba(0, 230, 168, 1); color: white; "></asd></a>
          <a class="nav-btn" style="background: #2EE59D;
          box-shadow: 0 15px 20px rgba(46,229,157,.4);
          color: white;
          transform: translateY(-7px);" href="/friends">Мои друзья</a>
          <a class="nav-btn" style="width:auto; padding-left: 5px; padding-right: 5px;" href="/outcoming">Исходящие заявки  <asd id="outreqsCounter" style="width: 20px; height: 20px; font-size: 15px; border-radius: 15px; background-color: rgba(0, 230, 168, 1); color: white; "></asd></a>
      </div>
  <div id="list" style="display:inline-block">
  </div>
</center>
  <script>
  var friends = [];
  onload();
  counters();
  function onload(){
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/user/get/friends/data", true);
      xhr.onload = ()=>{
          friends = JSON.parse(xhr.responseText);
          friends.forEach((friend)=>{
              var block = document.createElement("div");
              var dataBlock = document.createElement("div");
              var funcBlock = document.createElement("div");
              var img = document.createElement("img");
              var delbtn = document.createElement("buttons");
              block.id = "block";

              if (friend.imgStatus === true) {
                  img.src = friend.login+".jpg";
              } else {
                  img.src = "default.jpg";
              }
              block.appendChild(img);
              dataBlock.id = "datablock";
              dataBlock.innerHTML = `<br><a id="login"
        href="/user?${friend.login}"
        style="color:${friend.color};">
        ${friend.login}</a>
        <p id="fullname">${friend.firstname} ${friend.lastname}<p>`;
              block.appendChild(dataBlock);


              funcBlock.id = "funcblock";

              delbtn.setAttribute("class", "small");
              delbtn.innerHTML = "Удалить";
              delbtn.setAttribute("onclick", "delFriend('"+friend.login+"')");

              funcBlock.appendChild(delbtn);
              dataBlock.appendChild(funcBlock);
              document.getElementById("list").appendChild(block);
              document.getElementById("list").appendChild(document.createElement("br"));
          })
      }
      xhr.send();
  }





function counters (){
  var xhr = new XMLHttpRequest();
  xhr.open("GET","/get/inreqs/count",true);
  xhr.onload = ()=>{
    if (Number(xhr.responseText) != 0){
    document.getElementById("inreqsCounter").innerHTML = " "+xhr.responseText+" ";
  }
  }
  xhr.onerror = xhr.onabort = ()=>{};
  xhr.send();


  var xhr2 = new XMLHttpRequest();
  xhr2.open("GET","/get/outreqs/count",true);
  xhr2.onload = ()=>{
    if (Number(xhr2.responseText) != 0){
    document.getElementById("outreqsCounter").innerHTML = " "+xhr2.responseText+" ";
  }
  }
  xhr2.send();
}

  function delFriend(friendLogin) {
      if (confirm("Вы действительно хотите удалить "+friendLogin+ " из друзей?")){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/user/delete/friend", true);
          xhr.onload = ()=>{
              if(xhr.responseText == "true"){
                  alert("Успешно.");
                  location.reload();
              }
          }
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.send("friend="+friendLogin);
      }
  }
  </script>
  {{> footer}}
</body>
</html>
