<html>

<head>
   <meta charset="utf-8">
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
   <title>Регистрация</title>
</head>

<body background="bg.jpg">
   <h1>Регистрация</h1>
   <style>
   </style>
   <link rel="stylesheet" type="text/css" href="style.css">
   <center>
      <input class='pole2' type="text" required id="login" id="login" title="Логин" placeholder="Логин"><br><br>
      <input class='pole2' type="password" required id="password" title="Пароль" placeholder="Пароль"><br><br>
      <input class="pole2" type="text" required id="firstname" title="Имя" placeholder="Имя" /><br><br>
      <input class="pole2" type="text" required id="lastname" title="Фамилия" placeholder="Фалимия" /><br><br>
      <input class="pole2" type="number" id="age" title="Возраст" placeholder="Возраст" /><br><br>
      <span class="green" style="bottom: 0px;">Пол:</p>
         <select id="sex" style="width:auto; font-size: 20px;">
            <option value="1">
               Мужской
            </option>
            <option value="0">
               Женский
            </option>
         </select>
      </span>
      <input type="text" id="submit" required value="REAL" style="display: none;" /><br><br>
      <div id="notification"></div>
      <buttons class="buttons" type="button" onclick="registration()">Зарегестрироваться</buttons><br><br>
      <span class="purple">или</span><br><br>
      <a href="/login" style="text-decoration: none;">
         <buttons class="buttons" type="button">Войти</buttons>
      </a>
   </center>
   <script src="pages/registration.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
