<html>

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>Настройки</title>
   <style>
   </style>
</head>

<body background="bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <span class="orange" style="cursor:default">Цвет логина в чате</span><br><br>
      <input type="color" id="color" value="<%=color%>" style="height: 44px"><br><br>
      <label><span class="orange">Автоматически прокручивать чат</span>
         <br><br>
         <%if (scroll) {%>
            <input type="checkbox" id="scroll" checked />
         <%} else {%>
            <input type="checkbox" id="scroll" />
         <%}%>
      </label><br><br>
      <span class="green notification" id="notif"></span>
      <br><br>
      <btn class="standart" onclick="save()">Сохранить</btn>
   </center>
   <script src="pages/settings.js"></script>
   <%- include('partials/footer.ejs') %>
   <body>

</html>
