<html>

<head>
   <%- include('partials/header.ejs') %>
</head>

<body background="/images/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <input type="button" value="Lol" onclick="go();"><br><br>
   </center>
   <%- include('partials/footer.ejs') %>
   <script src="/js/pages/test.js"></script>
</body>

</html>
