<html>

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body background="bg.jpg">
   {{> navbar}}
   <center>
      <input type="button" value="Lol" onclick="go();"><br><br>
   </center>
   {{> footer}}
   <script src="pages/test.js"></script>
</body>

</html>
